<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <header>
        <h1>zen<span>Todo</span> </h1>
        <h2>A Simple Todo List</h2>
    </header>

    <section class="form">
        <input type="text" id="todoInput" placeholder="Enter Your New Task...">
    </section>

    <ul class="list">
    </ul>

</body>
<script src="jQuery.3.1.1.min.js"></script>
<script src="app.js"></script>
</html>