@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,700&display=swap');
body {
	transition: margin 1s;
	overflow-x: hidden;
	background-color: #ecf0f1;
	font-family: 'Montserrat', sans-serif;
}

header {
	text-align: center;
}

.sticky {
	padding-top: 2%;
	z-index: 5;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: #ecf0f1;
}

header h1 {
	background: #ecf0f1;
	font-size: 64px;
	font-weight: 300;
	margin: 0;
	color: #2c3e50;
	transition: font 0.5s;
	transition: margin 1s;
	margin-bottom: 0;
}

img {
	float: right;
	margin-top: 90%;
	width: 20px;
}

header h1 span {
	font-weight: 700;
}

header a {
	color: #787b7e;
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #2c3e50;
}

::-webkit-scrollbar-track {
	backgrond-color: #bdc3c7;
}

::selection {
	color: aliceblue;
	background-color: #2c3e50;
}

.form {
	max-width: 900px;
	width: 90%;
	margin: 50px auto 20px;
}

#todoInput {
	width: 97%;
	height: 60px;
	background: none;
	border: none;
	border-bottom: 1px solid #999a9b;
	outline: none;
	font: 300 28px 'Montserrat', sans-serif;
	padding-left: 20px;
	color: #34495e;
	transition: border-bottom linear 0.2s;
}

#todoInput:focus {
	border-bottom: 1px solid #34495e;
}

.list {
	list-style: none;
	padding: 0;
	max-width: 900px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 100px;
}

.task {
	word-break: break-all;
	max-width: 850px;
	min-width: 85%;
	line-height: 30px;
	font-size: 20px;
	padding: 20px 20px;
	color: #34495e;
	transition: all 0.1s linear;
}

.task:hover {
	cursor: pointer;
	background-color: rgba(42, 52, 65, 0.055);
	border-radius: 5px;
}

.task:hover span {
	opacity: 1;
}

.done {
	text-decoration: line-through;
	color: #bdc3c7;
}

li span#deleteIcon {
	float: right;
	transition: all 0.1s;
	opacity: 1;
	user-select: none;
}

li #loadingContainer {
	float: right;
	margin-right: 30px;
}

.lazyloader {
	position: absolute;
	width: 30px;
	height: 30px;	
	-webkit-animation: loader-rotation .8s infinite linear;
	animation: loader-rotation .8s infinite linear;
	border-left: 3px solid rgba(114, 144, 182, 0.15);
	border-right: 3px solid rgba(114, 144, 182, 0.15);
	border-bottom: 3px solid rgba(114, 144, 182, 0.15);
	border-top: 3px solid rgba(114, 144, 182, 0.8);
	border-radius: 100%;
}

@-webkit-keyframes loader-rotation {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes loader-rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (max-height: 568px) {
	header h1 {
		font-size: 40px;
	}
}

@media (max-width: 680px) {
	header h1 {
		margin-top: 7%;
	}
	#todoInput {
		font-size: 20px;
		height: 40px;
		margin-left: -2%;
	}
}

@media (max-width: 540px) {
	.sticky {
		position: relative;
	}
}

@media (max-width: 450px) {
	header h1 {
		font-size: 62px;
		line-height: 110%;
	}
	.task {
		font-size: 15px;
	}
}

@media (max-width: 380px) {
	header h1 {
		font-size: 55px;
	}
}
