@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,700&display=swap');
body{
    transition: margin 1s;
    margin: 0 3%;
    overflow-x: hidden;
    background-color: #ecf0f1;
    font-family: 'Montserrat', sans-serif; 
}

header{
    text-align: center;
}

header h1{
    font-size: 64px;
    font-weight: 300;
    margin: 80px 0 25px;
    color: #2c3e50;
    transition: font 0.5s;
    transition: margin 1s;
}

header h1 span{
    font-weight: 700;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #2c3e50;
}

::-webkit-scrollbar-track{
    backgrond-color: #bdc3c7;
}

::selection{
    color: aliceblue;   
    background-color: #2c3e50;
}

.form{
    max-width: 900px;
    width: 90%;
    margin: 50px auto 20px;
}

#todoInput{
    width: 99%;
    height: 60px;
    background: none;
    border: none;
    border-bottom: 1px solid #999a9b;
    outline: none;
    font: 300 28px 'Montserrat', sans-serif;
    padding-left: 20px;   
    color: #34495e;
    transition: border-bottom linear 0.2s;
}

#todoInput:focus{
    border-bottom: 1px solid #34495e;
}

.list{
    max-width: 900px;
    width: 90%; 
    margin: 0 auto;
}

.task{
    max-width: 850px;
    min-width: 85%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    padding: 0 20px;
    color: #34495e;
    transition: all 0.3s ease;
}

.task:hover{
    cursor: pointer;
    background-color: rgba(158, 158, 158, 0.096);
    border-radius: 8px;
}

.task:hover span{
    opacity: 1;
}

.done{
        text-decoration: line-through;
        color: #bdc3c7;
}

li span{
    float: right;
    color: #c0392b;
    transition: all 0.3s;
    opacity: 0;
    user-select: none;
}

li span:hover{
    color: #e74c3c;
}

@media(max-width: 680px){
    header h1{
        margin-top: 7%;
    }
    #todoInput{
        font-size: 20px;
        height: 40px;
        margin-left: -2%;
    }
}
@media(max-height: 568px){
    header h1{
        font-size: 40px;
    }
}

@media(max-width: 540px){
    header h1{
        margin-top: 10%;
    }
}

@media(max-width: 450px){
    header h1{
        margin-top: 20%;
        font-size: 62px;
        line-height: 110%;
    }
    .task{
        font-size: 15px;
    }   
}

@media(max-width: 380px){
    header h1{
        font-size: 55px;
        margin-top: 15%;
    }    
}
