@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,700&display=swap');

body{
    background-color: #ecf0f1;
    font-family: 'Montserrat', sans-serif; 
}

header{
    text-align: center;
}

header h1{
    font-size: 64px;
    font-weight: 300;
    margin: 80px 0 25px;
    color: #2c3e50;
}

header h1 span{
    font-weight: 700;
}

header h2{
    color: #bdc3c7;
    font-weight: 300;
}

.form{
    width: 800px;
    margin: 50px auto 20px;
}

#todoInput{
    width: 100%;
    height: 60px;
    background: none;
    border: none;
    border-bottom: 1px solid #34495e;
    outline: none;
    font: 300 28px 'Montserrat', sans-serif;
    padding-left: 20px;   
    color: #34495e;
    margin-left: 30px;
}

.list{
    width: 800px;   
    margin: 0 auto;
}

.task{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    padding: 0 20px;
    color: #34495e;
    transition: all 0.3s ease;
}

.task:hover{
    cursor: pointer;
    background-color: rgba(158, 158, 158, 0.185);
    border-radius: 8px;
}

.task:hover span{
    opacity: 1;
}

.done{
        text-decoration: line-through;
        color: #bdc3c7;
}

li span{
    float: right;
    color: #c0392b;
    transition: all 0.3s;
    opacity: 0;
    user-select: none;
}

li span:hover{
    color: #e74c3c;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #2c3e50;
}

::-webkit-scrollbar-track{
    backgrond-color: #bdc3c7;
}

::selection{
    color: aliceblue;   
    background-color: #2c3e50;
}
